#logo_header {
    float: left;
    display: table
}
#logo_img {
    height: 80px;
}
#logo_title {
    vertical-align: bottom;
    display: table-cell;
    padding-bottom: 0.3rem;
    padding-left: 0.5rem;
}


/* Tag formatting! */

span.tag_display_label {
    /* border:2px solid  #3cc382; */
    background-color: #3cc382;
    color: white;
    border-radius: 15px;
    font-size: 1rem;
    padding: 9px;
    font-weight: normal;
    margin-left: 10px;
}
span.tag_display_label.small {
    border-radius: 10px;
    font-size: 0.7rem;
    padding: 6px;
}
span.tag_display_label.Asian {
    background-color: #ae000f;
}
span.tag_display_label.Dessert {
    background-color: #ffa7b2;
    color: black;
}
span.tag_display_label.FATBUTTWORTH {
    background-color: #000000;
}
span.tag_display_label.Fall {
    background-color: #b74600;
}
span.tag_display_label.Healthy {
    background-color: #00e500;
}
span.tag_display_label.Middle.Eastern {
    background-color: #502100;
}
span.tag_display_label.Pasta {
    background-color: #e6d367;
    color: black;
}
span.tag_display_label.Side.dish {
    background-color: #730096;
}
span.tag_display_label.Soup {
    background-color: #6a0507;
}
span.tag_display_label.Spring {
    background-color: #2ff682;
    color: black;
}
span.tag_display_label.Summer {
    background-color: #ffd000;
}
span.tag_display_label.Winter {
    background-color: #1100ff;
}



.hide{
    display:none;
}
.show{
    display:block;
}
.tag_check {
    min-width: 100px;
}
#id_tags-label {
    width: 50px;
}
.tags_row {
    display: inline-block; 
    vertical-align: middle;
}
.plus_icon {
    width: 30px;
    align-self: left;
}
.form-table {
    padding-bottom: 0em;
}
input[id*='step_'][id$='description']{
    height: 100px;
}
#submit_recipe_button {
    width: 500px;
    height: 75px;
    font-size: 1.25rem;
    background-color: #3cc382;
    margin-left: 10px;
    -webkit-appearance: button;
    color: black;
}
td.step_number {
    width: 30px;
}
.search_result {
    margin-bottom: 5px;
}
.left_side_of_page {
    padding-left: 10px;
}

#tags_cell {
    min-width: 150px;
}
.recipe_summary_label {
    max-width: 50px;
}
/* When screen is at least 600 px wide */
@media screen and (min-width: 600px) {
    ul {
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
    }
}
/* When screen is less than 600 px wide */
@media screen and (max-width: 599px) {
    button.form_mod_button {
        width: 13rem;
        font-size: 0.6rem;
    }
}

button.form_mod_button {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 15px;
}

.header_button {
    font-size: 0.6rem;
    vertical-align: middle;
    margin-left: 10px;
}

#tags_row {
    display: flex;
    align-items: center;
}
#search_button {
    margin-top: 20px;
}
#ingredient_multiplier {
    width: 75px;
    display: inline-block; 
    margin-left: 10px;
}
#ingred-parser-button {
    margin-left: 10px;
    margin-top: 20px;
}
#ingred-parser-textbox {
    margin-left: 10px;
    width: 98%;
    height: 300px;
}
textarea.default_text {
    color: gray;
}
.form_validate_tooltip {
    /* display: none; */
    background: #d65f5f;
    color: white;
    margin: -20px;
    margin-left: 100px;
    font-weight: 500;
    border-radius: 15px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    text-align: center;
    max-width: 350px;
    
    opacity:0;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}
.form_validate_tooltip.visible {
    opacity: 80%;
    /* display: block; */
    z-index: 1000;
}
textarea,
input[type="text"],
input[type="number"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="url"] {
    z-index: 2;
    position: relative;
}
.recipe_detail_header_buttons {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 10%;
}
#upvote_button_td {
    width: 20%;
}
.cooked_count_text {
    display: block;
}
#recipe_title {
    margin: 0 0 0 0;
}
#cooked_recipe_upvote_icon_before {
    color: rgb(33, 0, 151);
    display: inline-block;
}
#cooked_recipe_upvote_icon_clicked {
    display: none;
}
#upvote_button_div {
    cursor: pointer;
}
.search_sort_icon {
    display: none;
}

/* When screen is at least 600 px wide */
@media screen and (min-width: 600px) {
    .step_row_buttons {
        width: 4%;
    }
}
/* When screen is less than 600 px wide */
@media screen and (max-width: 599px) {
    .step_row_buttons {
        width: 12%;
    }
}
.step_row_buttons {
    text-align: center;
}
#step_table {
    table-layout: fixed;
}
.delete_step_button {
    cursor: pointer;
}
.parse_step_button {
    cursor: pointer;
    color: blue;
}
.step_description_text {
    white-space: pre-wrap;
}
/* When screen is less than 600 px wide */
@media screen and (max-width: 599px) {
    #ingred-form {
        overflow-x: auto;
        width: 700px;
    }
}