{% extends 'main.html' %}
{% load static %}
{% block content %}

{{ mode|json_script:"addOrEditModeRaw" }}
{{ recipe_list|json_script:"existingRecipesRaw" }}

<h1>{% if mode == 'add' %}Add a recipe{% else %}Edit recipe: {{create_recipe_form.title.value}}{% endif %}</h1>
<!-- Action tells which URL to reroute to on form submission. For add mode, submit to validation API -->
<form name="add_recipe" id="add_recipe_container" method="post" action="{% if mode == 'add' %}{% url 'recipe_validation' %}{% else %}{% endif %}" onsubmit="event.preventDefault()" enctype='multipart/form-data'>
    {% csrf_token %}
    <table id="tags_table">
        <tr id="tags_row">
            <td id="id_tags-label">{{create_recipe_form.tags.label}}</td>
            <td class="tags_row" id="tags_cell">
                <label class="tags_row"><ul 
                    {% if tag_list|length >= 16 %}
                        class="four_cols"
                    {% elif tag_list|length >= 12 %}
                        class="three_cols"
                    {% elif tag_list|length >= 6 %}
                        class="two_cols"
                    {% endif %}
                    >
                    {% for tag in tag_list %}
                    
                        <div class="ui checkbox tag_check" data-is_baking_tag="{{ tag.is_baking_tag }}" data-is_cooking_tag="{{ tag.is_cooking_tag }}">
                            <input 
                                id="id_tags_{{ forloop.counter0 }}" 
                                name="tag" 
                                type="checkbox" 
                                value="{{ tag.name }}"
                                {% if tag.name in checked_tags %} checked="checked"{% endif %}
                            >
                            <label for="id_tags_{{ forloop.counter0 }}">{{ tag.name }}</label>
                        </div>
                        <!-- {% if forloop.counter|divisibleby:2 %}</ul><ul>{% endif %} -->
                    {% endfor %}
                </ul></label>
                <!-- {{create_recipe_form.tags}} -->
            </td>
            <td class="plus_icon">
                <div>
                    <a style="cursor: pointer;" onmouseover="" id="add_id_tags">
                        <img class="tags_row" onclick="showTagForm()" src="{% static 'img/plus-icon.svg' %}" width="20" height="20" alt="Add Another"/>
                    </a>
                </div>
            </td>
            <td class="tags_row">
                <p style="cursor: pointer;" onclick="showTagForm()">Add new tag</p>
            </td>
        </tr>
    </table>
    <div id="add-tag-form" class="hide">
        <h2>Add a tag</h2>
            <table>
                <tr>
                    <td>Tag</td>
                    <td>{{create_recipe_form.new_tag}}</td>
                    <td id="tag_chooser_td" rowspan="3">
                        <input type="color" class="tag_color_chooser" id="tag_fill_color_chooser" value="#3cc382"><span>Fill</span><br>
                        <input type="checkbox" id="tag_border_checkbox"><span>Border?</span><br>
                        <input type="color" class="tag_color_chooser" id="tag_border_color_chooser" value="#000000"><span>Border color</span><br>
                        <input type="color" class="tag_color_chooser" id="tag_text_color_chooser" value="#ffffff"><span>Text</span><br><br>
                    </td>
                    <td id="test_tag_td" rowspan="3">
                        <span id="test_tag" class="tag_display_label" style="margin-bottom: 20px;">Test</span>
                    </td>
                </tr>
                <tr>
                    <td>Related to cooking?</td>
                    <td>{{create_recipe_form.is_cooking_tag}}</td>
                </tr>
                <tr class="spaceUnder">
                    <td>Related to baking?</td>
                    <td>{{create_recipe_form.is_baking_tag}}</td>
                </tr>
            </table>
            
            <span id="cooking_or_baking_tag_tooltip" class="form_validate_tooltip tooltip">Tags have to be related to cooking, baking, or both, but not neither.</span>
        <!-- Using type="button" prevents clicking this from counting as a form submission -->
        <button id="add_tag_button" type="button">Add tag</button>
        <hr>
    </div>
    <table>
        <tr>
            <td class="recipe_summary_label">{{create_recipe_form.title.label}}</td>
            <td>
                {{create_recipe_form.title}}
                <span id="title_tooltip" class="form_validate_tooltip tooltip">You must enter a unique title with at least 4 alphanumeric characters</span>
            </td>
        </tr>
        <tr>
            <td class="recipe_summary_label">Component?</td>
            <td style="vertical-align: middle;">
                <input type="checkbox" name="is_component_recipe" id="id_is_component_recipe" style="margin-top: 5px;" {% if create_recipe_form.is_component_recipe.value %} checked="checked"{% endif %}>
                <p style="padding-left: 30px; padding-bottom: 3px;">
                    Check here if this is a reusable component, such as a sauce or cake sponge, that can be used to make up a larger recipe.
                </p>
            </td>
        </tr>
        <tr class="hide_if_cooking">
            <td class="recipe_summary_label">Cookies?</td>
            <td style="vertical-align: middle;">
                <input type="checkbox" name="is_cookie_recipe" id="id_is_cookie_recipe" style="margin-top: 5px;" {% if create_recipe_form.is_cookie_recipe.value %} checked="checked"{% endif %}>
                <p style="padding-left: 30px; padding-bottom: 3px;">
                    Check here if this recipe is for cookies (this exposes extra cookie-related attributes).
                </p>
            </td>
        </tr>
        <tr class="hide_if_cooking cookie_attribute">
            <td class="recipe_summary_label">Cookie style</td>
            <td>
                <select name="cookie_style" id="id_cookie_style">
                    <option value="">Choose...</option>
                    {% for style_value, style_label in cookie_style_choices %}
                    <option value="{{ style_value }}" {% if create_recipe_form.cookie_style.value == style_value %}selected{% endif %}>{{ style_label }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr class="hide_if_cooking cookie_attribute">
            <td class="recipe_summary_label">Cookie color</td>
            <td>{{create_recipe_form.cookie_color}}</td>
        </tr>
        <tr>
            <td class="recipe_summary_label">{{create_recipe_form.url.label}}</td>
            <td>
                {{create_recipe_form.url}}
                <span id="url_tooltip" class="form_validate_tooltip tooltip">This needs to be a valid URL</span>
            </td>
        </tr>
        <tr>
            <td class="recipe_summary_label">{{create_recipe_form.recipe_book.label}}</td>
            <td>
                {{create_recipe_form.recipe_book}}
                <span id="recipe_book_tooltip" class="form_validate_tooltip tooltip">You gotta specify either at least one ingredient and one step, <i>or</i> a recipe book and page, <i>or</i> add at least one sub-recipe</span>
            </td>
        </tr>
        <tr>
            <td class="recipe_summary_label">{{create_recipe_form.recipe_book_page.label}}</td>
            <td>
                {{create_recipe_form.recipe_book_page}}
                <span id="recipe_book_page_tooltip" class="form_validate_tooltip tooltip">The page number must be a positive integer</span>
            </td>
        </tr>
        <tr>
            <td class="recipe_summary_label">{{create_recipe_form.duration_minutes.label}}</td>
            <td>
                {{create_recipe_form.duration_minutes}}
                <span id="duration_minutes_tooltip" class="form_validate_tooltip tooltip">The duration must be a positive integer</span>
            </td>
        </tr>
        <tr>
            <td class="recipe_summary_label">{{create_recipe_form.servings.label}}</td>
            <td>
                {{create_recipe_form.servings}}
                <span id="servings_tooltip" class="form_validate_tooltip tooltip">Servings must either be a single integer, like "4", or a range of integers, like "5-6"</span>
            </td>
        </tr>
        <tr>
            <td class="recipe_summary_label">Total calories in recipe</td>
            <td>
                {{create_recipe_form.calories_per_recipe}}
                <span id="calories_per_recipe_tooltip" class="form_validate_tooltip tooltip">The calories must be a positive integer</span>
            </td>
        </tr>
        <tr>
            <td class="recipe_summary_label">{{create_recipe_form.notes.label}}</td>
            <td>{{create_recipe_form.notes}}</td>
        </tr>
        <tr>
            <td class="recipe_summary_label">Oven temperature</td>
            <td>{{create_recipe_form.oven_temp}}</td>
        </tr>
        <tr >
            <td class="recipe_summary_label" rowspan="2">Pix</td>
            <td>
                {% for img in existing_images %}
                    <div class="recipe_image_div" id="recipe_image_div_{{ forloop.counter0 }}" data-image_file_name="{{ img.file_name }}">
                        <a href="">
                            <img class="delete_recipe_image_button" src="{% static 'img/x-icon.svg' %}" width="30" height="30" title="Delete image"/>
                        </a>
                        <a href="{{ img.url }}" target="_blank">
                            <img src="{{ img.url }}" class="recipe_image" />
                        </a>
                    </div>
                {% endfor %}
            </td>
        </tr>
        <tr class="offset">
                <td>
                    <input type="file" name="images" accept="image/*" multiple id="id_images">
                </td>
            </td>
        </tr>
    </table>

    <!-- On the search page, I use a form for searching recipes. Since this is in the middle of the add/edit form,
    and you can't nest forms, I am using Javascript to manage the GET requests of the search and the injection of
    the results. -->
    <h2 id="linked_recipes_header">
        Linked Recipes
        <i id="linked_recipes_help_icon" class="fa-regular fa-circle-question fa-2xs help_icon"></i>
    </h2>
    <span id="linked_recipes_help_tooltip" class="tooltip help_tooltip">
        Search here to link related recipes. There are two types of relationships: Full/Component and Variant/Base. 
        The "parent" recipe (either the Full or the Variant, depending on the relationship type) is composed of, and therefore displays, all the
        ingredients and steps of the "child" recipes (Component or Base). The parent does not need its own ingredients or steps, but you can
        optionally add some (like for topping and/or assembly instructions). Parent-specific ingredients/steps will always be shown last, after the children.
        <br><br>Full/Component relationships are used in cases like cakes, where the sponge and frosting are separate Component recipes and the 
        complete cake is the Full recipe. 
        <br><br>Variant/Base relationships are when you have multiple different versions of a food that are mutually exclusive. For example, you might
        have a Base recipe for a type of bread, and then have Variant recipes for sweet and savory versions. 
        <br><br>Indicate the relationship each recipe has to this one using the dropdown menu. Use the arrows to change the display order of your child
        recipes. If you are establishing this recipe as a child and a different one as a parent, you can change the display order of this recipe from
        the parent's page.
    </span>
    <div style="display: flex;">
        <input type="text" id="recipe_search_input" placeholder="Search for a recipe to add as a child recipe" list="list__recipe-list">
        <img id="add_child_recipe_button" src="{% static 'img/plus-icon.svg' %}" width="30" height="30" alt="Attach sub-recipe"/>
        <datalist id="list__recipe-list">
            {% for rec_title, key in recipe_list.items %}
            <option value="{{ rec_title }}">
            {% endfor %}
        </datalist>
    </div>
    <div id="child_recipes_div" class="left_side_of_page">
        <span id="relationship_type_tooltip" class="form_validate_tooltip tooltip">If you have linked recipes, you must select a relationship type for each one</span>
        <!-- Child recipes will go here -->
        {% if child_relationships %}
            {% for rel in child_relationships %}
                <div name="child_recipe" data-recipe_name="{{ rel.recipe.title }}" class="attached_child_recipe_div">
                    <input type="hidden" name="child_recipe_{{ forloop.counter0 }}" value="{{ rel.recipe.clean_key }}"> <!-- This hidden input is used to submit child recipe keys in the POST request when the form is submitted -->
                    <a href="{% url 'recipe_detail' rel.recipe.clean_key %}" target="_blank">{{ rel.recipe.title }}</a>
                    <i class="fa-solid fa-arrow-up move_row_up_button move_row_button" title="Move up"></i>
                    <i class="fa-solid fa-arrow-down move_row_down_button move_row_button" title="Move down"></i>
                    <img class="delete_row_button" src="{% static 'img/x-icon.svg' %}" width="22" height="22" title="Detach sub-recipe"/>
                    <select class="relationship_type_dropdown" name="relationship_type_{{ forloop.counter0 }}" style="width: 200px; margin: 5px 0px 5px 10px;">
                        <option value="full">Full</option>
                        <option value="component" {% if rel.relationship_type == 'component' %}selected{% endif %}>Component</option>
                        <option value="base" {% if rel.relationship_type == 'base' %}selected{% endif %}>Base</option>
                        <option value="variant">Variant</option>
                    </select>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <input type="hidden" id="number_of_linked_recipes" name="number_of_linked_recipes" value="{% if mode == 'edit' %}{{ child_recipes|length }}{% else %}0{% endif %}">
    <!-- This is an example of a child recipe that is set to be invisible. The Javascript in add_child_recipe.js will clone it when adding new children. -->
    <div id="example_child_recipe" name="child_recipe" style="display: none;" data-recipe_name="Recipe Name" class="ignore_row attached_child_recipe_div">
        <input type="hidden" name="child_recipe_num" value="recipe_key"> <!-- This hidden input is used to submit child recipe keys in the POST request when the form is submitted -->
        <a href="" target="_blank">Recipe Name</a>
        <i class="fa-solid fa-arrow-up move_row_up_button move_row_button" title="Move up"></i>
        <i class="fa-solid fa-arrow-down move_row_down_button move_row_button" title="Move down"></i>
        <img class="delete_row_button" src="{% static 'img/x-icon.svg' %}" width="22" height="22" title="Detach sub-recipe"/>
        <select class="relationship_type_dropdown" name="relationship_type_num" style="width: 200px; margin: 5px 0px 5px 10px;">
            <option value="" disabled selected>Relationship...</option>
            <option value="full">Full</option>
            <option value="component">Component</option>
            <option value="base">Base</option>
            <option value="variant">Variant</option>
        </select>
    </div>

    <!-- This is an input to the form, but its value is set in recipe_add_form_validate.js. The user changes the switch on the navbar, and then this input's value is set to match it. This input is invisble. -->
    <input style="display: none;" type="checkbox" name="is_baking_recipe" id="id_is_baking_recipe">
    <h2>
        Ingredients
        <button id="show_ingred_parse_button" class="header_button" type="button" onclick="showIngredientParserOnClick()">Parse ingredients from text</button>
    </h2>
    <div id="ingred-form">
        {{create_recipe_form.extra_ingred_count}}
        <table id="ingred-table" class="form-table">
            <tr>
                <th class="ingred_header_quantity" width="10%">Quantity</th>
                <th class="ingred_header_unit" width="20%">Unit</th>
                <th class="ingred_header_food" width="30%">Food</th>
                <th class="ingred_header_category" width="20%" id="ingred_category_header">Category  <i id="ingred_category_help_icon" class="fa-regular fa-circle-question fa-2xs help_icon"></i></th>
                <th class="ingred_header_notes" width="20%">Notes</th>
                <th> </th>
            </tr>
            <span id="ingred_category_help_tooltip" class="tooltip help_tooltip">
                The Category column is optional. You can use this to separate your ingredients into categories, like "Sauce", "Marinade", "Toppings", etc.<br><br>
                Pro tip: when your cursor is in a Category box, you can press Ctrl+Alt+C to copy the current value to the row below!
            </span>
            {% for ingred in ingredient_list %}
            <tr name="ingred_{{ forloop.counter0 }}_row">
                <td class="ingred_body_quantity" width="5%"><input type="number" name="ingred_{{ forloop.counter0 }}_quantity" step="any" id="id_ingred_{{ forloop.counter0 }}_quantity" value="{% if ingred.quantity %}{{ ingred.quantity }}{% endif %}"></td>
                <td class="ingred_body_unit_of_measurement" width="20%"><input type="text" name="ingred_{{ forloop.counter0 }}_unit_of_measurement" list="list__unit-list" id="id_ingred_{{ forloop.counter0 }}_unit_of_measurement" value="{{ ingred.unit_of_measurement }}">
                    <datalist id="list__unit-list">
                        {% for unit in unit_list %}
                        <option value="{{ unit }}">
                        {% endfor %}
                    </datalist>
                </td>
                <td class="ingred_body_food" width="35%"><input type="text" name="ingred_{{ forloop.counter0 }}_food" list="list__food-list" id="id_ingred_{{ forloop.counter0 }}_food" value="{{ ingred.food }}">
                    <datalist id="list__food-list">
                        {% for food in food_list %}
                        <option value="{{ food }}">
                        {% endfor %}
                    </datalist>
                    <span id="ingred_{{ forloop.counter0 }}_food_tooltip" class="form_validate_tooltip tooltip">You must specify at least one ingredient</span>
                </td>
                <td class="ingred_body_ingredient_category" width="20%"><input type="text" name="ingred_{{ forloop.counter0 }}_ingredient_category" id="id_ingred_{{ forloop.counter0 }}_ingredient_category" value="{{ ingred.ingredient_category }}"></td>
                <td class="ingred_body_notes" width="20%"><input type="text" name="ingred_{{ forloop.counter0 }}_notes" id="id_ingred_{{ forloop.counter0 }}_notes" value="{{ ingred.notes }}"></td>
                <td><a style="cursor: pointer;" onmouseover="">
                    <img class="delete_ingred_button" src="{% static 'img/x-icon.svg' %}" width="20" height="20" title="Delete row"/>
                </a></td>
            </tr>
            {% endfor %}
        </table>

    <button class="form_mod_button" id="add-ingred-form" type="button">Add another ingredient</button>
    <button class="form_mod_button" id="delete-ingred-form" type="button">Remove last ingredient</button>
    </div>
    <div id="ingred-parser" class="hide">
        <textarea id="ingred-parser-textbox" class="default_text">Enter your ingredients here, separated by line. Follow this format:
            1 cup flour, sifted
            2 tbsp sugar
            1 small onion, chopped
        </textarea>
        <button id="ingred-parser-button" type="button" onclick="hideIngredientParserOnClick()">Parse ingredients</button>
    </div>


    <h2 id = "recipe_steps_header">
        Recipe
        <i id="markdown_help_icon" class="fa-regular fa-circle-question fa-2xs help_icon"></i>
    </h2>
    <span id="markdown_help_tooltip" class="tooltip help_tooltip">
        You can format the text of your recipe steps using Markdown syntax. You can google the full set of rules, but here are some of the most common tricks:<br><br>
        <p class="markdown_help_indented_text">
            • **Double asterisks** make text <b>bold</b><br>
            • *Single asterisks* or _underscores_ make it <i>italic</i>.<br>
            • Use hyphens or asterisks to create bullet points<br>
            • Make headings by starting a line with 1-4 hash symbols (#), like this:<br><br>
        </p>
        <p class="markdown_help_centered_text">
            # This is a large header<br>
            #### This is a small one<br>
            This is the normal text<br><br>
        </p>
        There is also a custom syntax that you can use to create tooltips over your text that link back to ingredients. There are long and short forms of the syntax:<br><br>
        <p class="markdown_help_centered_text">
            This short form is the easiest and can be used when you're fine with the visible hyperlink text being the same as the food name:<br>
            [ingredient food name]<br><br>
            This medium form is the same as above, but lets you set a different visible text than the food's name:<br>
            [visible hyperlink text](!ingredient food name)<br><br>
            This longest form is only necessary when the same food is used in multiple different ingredient categories and you need to specify one:<br>
            [visible hyperlink text](!ingredient food name;ingredient category name)<br><br>
        </p>
    </span>
    {{create_recipe_form.extra_step_count}}
    <table id="step_table" class="form-table">
        {% for step in step_list %}
        <tr name="step_{{ forloop.counter0 }}_row">
            <div class="step-form">
                <td class="step-textbox">
                    <textarea name="step_{{ forloop.counter0 }}_description" id="id_step_{{ forloop.counter0 }}_description">{{ step.description }}</textarea>
                    <span id="step_{{ forloop.counter0 }}_description_tooltip" class="form_validate_tooltip tooltip">You must specify at least one recipe step</span>
                </td>
                <td class="step_row_buttons"><a style="cursor: pointer;" onmouseover="">
                    <img class="delete_step_button" src="{% static 'img/x-icon.svg' %}" width="20" height="20" title="Delete step"/>
                    <i class="fa-solid fa-ellipsis parse_step_button" title="Parse bulk text into separate steps"></i>
                </a></td>
            </div>
        </tr>
        {% endfor %}
    </table>

    <button class="form_mod_button" id="add-step-form" type="button">Add another step</button>
    <button class="form_mod_button" id="delete-step-form" type="button">Remove last step</button>

    <h2>Timing</h2>
    <h4>Use these (optional) fields to record some of the times mentioned in the recipe steps. This data can be used on the Bulk Prep tab to help you coordinate a big day!</h4>
    {{create_recipe_form.extra_timing_count}}
    <span id="timing_attribute_tooltip" class="form_validate_tooltip tooltip">You can only have one time set for each type.</span>
    <table id="timing-table" class="form-table">
        <tr>
            <th width="50%">Type</th>
            <th width="40%">Minutes</th>
            <th></th>
        </tr>
        {% for timing in timing_list %}
        <tr name="timing_{{ forloop.counter0 }}_row">
            <td width="50%">
                <select class="timing_attribute_choice" name="timing_{{ forloop.counter0 }}_type" id="id_timing_{{ forloop.counter0 }}_type">
                    <option value="">Choose...</option>
                    {% for type in timing_types %}
                    <option value="{{ type.0 }}" {% if timing.type == type.0 %}selected{% endif %}>{{ type.1 }}</option>
                    {% endfor %}
                </select>
            </td>
            <td width="40%">
                <input type="number" name="timing_{{ forloop.counter0 }}_minutes" id="id_timing_{{ forloop.counter0 }}_minutes" value="{% if timing.minutes %}{{ timing.minutes }}{% endif %}" min="0">
            </td>
            <td>
                <a style="cursor: pointer;" onmouseover="">
                    <img class="delete_timing_button" src="{% static 'img/x-icon.svg' %}" width="20" height="20" title="Delete row"/>
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>

    <button class="form_mod_button" id="add-timing-form" type="button">Add another timing attribute</button>
    <button class="form_mod_button" id="delete-timing-form" type="button">Remove last timing attribute</button>

    <br><br>
    <button type="button" id="submit_recipe_button" name="submitrecipe">{% if mode == 'add' %}Create {% else %}Update {% endif %}recipe!</button>
</form>

<script src="{% static 'js/swap_cooking_baking.js' %}"></script>
<script src="{% static 'js/table_row_shift.js' %}"></script>
<script src="{% static 'js/add_child_recipe.js' %}"></script>
<script src="{% static 'js/add_ingredients_and_steps.js' %}"></script>
<script src="{% static 'js/ingredient_parse.js' %}"></script>
<script src="{% static 'js/recipe_add_form_validate.js' %}"></script>
<script src="{% static 'js/recipe_tagging.js' %}"></script>
<script src="{% static 'js/delete_image.js' %}"></script>
<script src="{% static 'js/recipe_timing_attributes.js' %}"></script>
<script src="{% static 'js/cookie_attributes.js' %}"></script>
<script src="{% static 'js/ui_fixes.js' %}"></script>
{% endblock content %}
