{% extends 'main.html' %}
{% load static %}
{% block content %}
<script type="text/javascript">
    var element_id = "add-tag-form";
</script>    
<script src="{% static 'js/show_on_click.js' %}"></script>
<h1>{% if mode == 'add' %}Add a recipe{% else %}Edit recipe: {{create_recipe_form.title.value}}{% endif %}</h1>
<!-- Action tells which URL to reroute to on form submission. Leaving it blank means stay on this page -->
<form name="add_recipe" id="add_recipe_container" method="post" action="">
    {% csrf_token %}
    <table id="tags_table">
        <tr id="tags_row">
            <td id="id_tags-label">{{create_recipe_form.tags.label}}</td>
            <td class="tags_row" id="tags_cell">
                <label class="tags_row"><ul>
                    {% for value, text in create_recipe_form.tags.field.choices %}
                    
                        <div class="ui slider checkbox tag_check">
                            <input id="id_tags_{{ forloop.counter0 }}" type="checkbox" value="{{ value }}"{% if text in checked_tags %} checked="checked"{% endif %}>
                            {{ text }}
                        </div>
                        <!-- {% if forloop.counter|divisibleby:2 %}</ul><ul>{% endif %} -->
                    {% endfor %}
                </ul></label>
                <!-- {{create_recipe_form.tags}} -->
            </td>
            <td class="plus_icon">
                <div>
                    <a style="cursor: pointer;" onmouseover="" id="add_id_tags">
                        <img class="tags_row" onclick="showOnClick()" src="http://localhost:8000/static/admin/img/icon-addlink.svg" width="20" height="20" alt="Add Another"/>
                    </a>
                </div>
            </td>
            <td class="tags_row">
                <p>Note: creating a new tag refreshes the page!<br>Don't go and fill your whole recipe out just yet 😅</p>
            </td>
        </tr>
    </table>
    <div id="add-tag-form" class="hide">
        <hr>
        <h2>Add a tag</h2>
            <table>
                <tr class="spaceUnder">
                    <td>Tag</td>
                    <td>{{create_recipe_form.new_tag}}</td>
                </tr>
            </table>
        <!-- Using formnovalidate on this input means the in-browser form validation doesn't run on the form only for this button. The other button triggers browser-side validation -->
        <input type="submit" name="submittag" onclick="hideOnClick()" value="Add tag" formnovalidate="formnovalidate">
        <hr>
    </div>
    <table>
        <tr>
            <td class="recipe_summary_label">{{create_recipe_form.title.label}}</td>
            <td>{{create_recipe_form.title}}</td>
        </tr>
        <tr>
            <td class="recipe_summary_label">{{create_recipe_form.url.label}}</td>
            <td>{{create_recipe_form.url}}</td>
        </tr>
        <tr>
            <td class="recipe_summary_label">{{create_recipe_form.duration_minutes.label}}</td>
            <td>{{create_recipe_form.duration_minutes}}</td>
        </tr>
        <tr>
            <td class="recipe_summary_label">{{create_recipe_form.servings.label}}</td>
            <td>{{create_recipe_form.servings}}</td>
        </tr>
        <tr>
            <td class="recipe_summary_label">{{create_recipe_form.calories_per_serving.label}}</td>
            <td>{{create_recipe_form.calories_per_serving}}</td>
        </tr>
        <tr>
            <td class="recipe_summary_label">{{create_recipe_form.notes.label}}</td>
            <td>{{create_recipe_form.notes}}</td>
        </tr>
    </table>
    <h2>Ingredients</h2>
    {{create_recipe_form.extra_ingred_count}}
    <table id="ingred-table" class="form-table">
        <tr>
            <th width="5%">Quantity</th>
            <th width="20%">Unit</th>
            <th width="35%">Food</th>
            <th width="20%">Category</th>
            <th width="20%">Notes</th>
        </tr>
        {% for ingred in ingredient_list %}
        <tr>
            <div class="ingred-form">
                <td width="5%"><input type="number" name="ingred_{{ forloop.counter0 }}_quantity" step="any" required id="id_ingred_{{ forloop.counter0 }}_quantity" value="{{ ingred.quantity }}"></td>
                <td width="20%"><input type="text" name="ingred_{{ forloop.counter0 }}_unit_of_measurement" list="list__unit-list" required id="id_ingred_{{ forloop.counter0 }}_unit_of_measurement" value="{{ ingred.unit_of_measurement }}">
                    <datalist id="list__unit-list">
                        {% for unit in unit_list %}
                        <option value="{{ unit }}">
                        {% endfor %}
                    </datalist>
                </td>
                <td width="35%"><input type="text" name="ingred_{{ forloop.counter0 }}_food" list="list__food-list" required id="id_ingred_{{ forloop.counter0 }}_food" value="{{ ingred.food }}">
                    <datalist id="list__food-list">
                        {% for food in food_list %}
                        <option value="{{ food }}">
                        {% endfor %}
                    </datalist>
                </td>
                <td width="20%"><input type="text" name="ingred_{{ forloop.counter0 }}_ingredient_category" id="id_ingred_{{ forloop.counter0 }}_ingredient_category" value="{{ ingred.ingredient_category }}"></td>
                <td width="20%"><input type="text" name="ingred_{{ forloop.counter0 }}_notes" id="id_ingred_{{ forloop.counter0 }}_notes" value="{{ ingred.notes }}"></td>
            </div>
        </tr>
        {% endfor %}
    </table>

    <button class="form_mod_button" id="add-ingred-form" type="button">Add ingredient</button>
    <button class="form_mod_button" id="delete-ingred-form" type="button">Remove ingredient</button>

    <h2>Recipe</h2>
    {{create_recipe_form.extra_step_count}}
    <table id="step-table" class="form-table">
        {% for step in step_list %}
        <tr>
            <div class="step-form">
                <td class="step-textbox">
                    <input type="text" name="step_{{ forloop.counter0 }}_description" value="{{ step.description }}" required="" id="id_step_{{ forloop.counter0 }}_description">
                </td>
            </div>
        </tr>
        {% endfor %}
    </table>

    <button class="form_mod_button" id="add-step-form" type="button">Add another step</button>
    <button class="form_mod_button" id="delete-step-form" type="button">Remove last step</button>
    <script src="{% static 'js/add_ingredients_and_steps.js' %}"></script>

    <br><br>
    <input type="submit" id="submit_recipe_button" name="submitrecipe" value="{% if mode == 'add' %}Create {% else %}Update {% endif %} recipe!" >
</form>

{% endblock content %}
