{% extends 'main.html' %}
{% load static %}
{% block content %}
<h1>{% if mode == 'add' %}Add a recipe{% else %}Edit recipe: {{create_recipe_form.title.value}}{% endif %}</h1>
<!-- Action tells which URL to reroute to on form submission. Leaving it blank means stay on this page -->
<form name="add_recipe" id="add_recipe_container" method="post" action="" onsubmit="event.preventDefault()">
    {% csrf_token %}
    <table id="tags_table">
        <tr id="tags_row">
            <td id="id_tags-label">{{create_recipe_form.tags.label}}</td>
            <td class="tags_row" id="tags_cell">
                <label class="tags_row"><ul>
                    {% for value, text in create_recipe_form.tags.field.choices %}
                    
                        <div class="ui slider checkbox tag_check">
                            <input id="id_tags_{{ forloop.counter0 }}" name="tag" type="checkbox" value="{{ text }}"{% if text in checked_tags %} checked="checked"{% endif %}>
                            {{ text }}
                        </div>
                        <!-- {% if forloop.counter|divisibleby:2 %}</ul><ul>{% endif %} -->
                    {% endfor %}
                </ul></label>
                <!-- {{create_recipe_form.tags}} -->
            </td>
            <td class="plus_icon">
                <div>
                    <a style="cursor: pointer;" onmouseover="" id="add_id_tags">
                        <img class="tags_row" onclick="showTagFormOnClick()" src="{% static 'img/plus-icon.svg' %}" width="20" height="20" alt="Add Another"/>
                    </a>
                </div>
            </td>
            <td class="tags_row">
                <p>Note: creating a new tag refreshes the page!<br>Don't go and fill your whole recipe out just yet 😅</p>
            </td>
        </tr>
    </table>
    <div id="add-tag-form" class="hide">
        <hr>
        <h2>Add a tag</h2>
            <table>
                <tr class="spaceUnder">
                    <td>Tag</td>
                    <td>{{create_recipe_form.new_tag}}</td>
                </tr>
            </table>
        <!-- Using formnovalidate on this input means the in-browser form validation doesn't run on the form only for this button. The other button triggers browser-side validation -->
        <input type="submit" name="submittag" onclick="hideTagFormOnClick()" value="Add tag" formnovalidate="formnovalidate">
        <hr>
    </div>
    <table>
        <tr>
            <td class="recipe_summary_label">{{create_recipe_form.title.label}}</td>
            <td>
                {{create_recipe_form.title}}
                <span id="title_tooltip" class="form_validate_tooltip">You must enter a unique title</span>
            </td>
        </tr>
        <tr>
            <td class="recipe_summary_label">{{create_recipe_form.url.label}}</td>
            <td>
                {{create_recipe_form.url}}
                <span id="url_tooltip" class="form_validate_tooltip">This needs to be a valid URL</span>
            </td>
        </tr>
        <tr>
            <td class="recipe_summary_label">{{create_recipe_form.recipe_book.label}}</td>
            <td>
                {{create_recipe_form.recipe_book}}
                <span id="recipe_book_tooltip" class="form_validate_tooltip">You gotta specify either at least one ingredient and one step, <i>or</i> a recipe book and page</span>
            </td>
        </tr>
        <tr>
            <td class="recipe_summary_label">{{create_recipe_form.recipe_book_page.label}}</td>
            <td>
                {{create_recipe_form.recipe_book_page}}
                <span id="recipe_book_page_tooltip" class="form_validate_tooltip">The page number must be a positive integer</span>
            </td>
        </tr>
        <tr>
            <td class="recipe_summary_label">{{create_recipe_form.duration_minutes.label}}</td>
            <td>
                {{create_recipe_form.duration_minutes}}
                <span id="duration_minutes_tooltip" class="form_validate_tooltip">The duration must be a positive integer</span>
            </td>
        </tr>
        <tr>
            <td class="recipe_summary_label">{{create_recipe_form.servings.label}}</td>
            <td>
                {{create_recipe_form.servings}}
                <span id="servings_tooltip" class="form_validate_tooltip">Servings must either be a single integer, like "4", or a range of integers, like "5-6"</span>
            </td>
        </tr>
        <tr>
            <td class="recipe_summary_label">{{create_recipe_form.calories_per_serving.label}}</td>
            <td>
                {{create_recipe_form.calories_per_serving}}
                <span id="calories_per_serving_tooltip" class="form_validate_tooltip">The calories must be a positive integer</span>
            </td>
        </tr>
        <tr>
            <td class="recipe_summary_label">{{create_recipe_form.notes.label}}</td>
            <td>{{create_recipe_form.notes}}</td>
        </tr>
    </table>
    
    <h2>
        Ingredients
        <button id="show_ingred_parse_button" class="header_button" type="button" onclick="showIngredientParserOnClick()">Parse ingredients from text</button>
    </h2>
    <div id="ingred-form">
        {{create_recipe_form.extra_ingred_count}}
        <table id="ingred-table" class="form-table">
            <tr>
                <th width="5%">Quantity</th>
                <th width="20%">Unit</th>
                <th width="35%">Food</th>
                <th width="20%">Category</th>
                <th width="20%">Notes</th>
                <th> </th>
            </tr>
            {% for ingred in ingredient_list %}
            <tr name="ingred_{{ forloop.counter0 }}_row">
                <td width="5%"><input type="number" name="ingred_{{ forloop.counter0 }}_quantity" step="any" id="id_ingred_{{ forloop.counter0 }}_quantity" value="{{ ingred.quantity }}"></td>
                <td width="20%"><input type="text" name="ingred_{{ forloop.counter0 }}_unit_of_measurement" list="list__unit-list" id="id_ingred_{{ forloop.counter0 }}_unit_of_measurement" value="{{ ingred.unit_of_measurement }}">
                    <datalist id="list__unit-list">
                        {% for unit in unit_list %}
                        <option value="{{ unit }}">
                        {% endfor %}
                    </datalist>
                </td>
                <td width="35%"><input type="text" name="ingred_{{ forloop.counter0 }}_food" list="list__food-list" id="id_ingred_{{ forloop.counter0 }}_food" value="{{ ingred.food }}">
                    <datalist id="list__food-list">
                        {% for food in food_list %}
                        <option value="{{ food }}">
                        {% endfor %}
                    </datalist>
                    <span id="ingred_{{ forloop.counter0 }}_food_tooltip" class="form_validate_tooltip">You must specify at least one ingredient</span>
                </td>
                <td width="20%"><input type="text" name="ingred_{{ forloop.counter0 }}_ingredient_category" id="id_ingred_{{ forloop.counter0 }}_ingredient_category" value="{{ ingred.ingredient_category }}"></td>
                <td width="20%"><input type="text" name="ingred_{{ forloop.counter0 }}_notes" id="id_ingred_{{ forloop.counter0 }}_notes" value="{{ ingred.notes }}"></td>
                <td><a style="cursor: pointer;" onmouseover="">
                    <img class="delete_ingred_button" src="{% static 'img/x-icon.svg' %}" width="20" height="20" title="Delete row"/>
                </a></td>
            </tr>
            {% endfor %}
        </table>

    <button class="form_mod_button" id="add-ingred-form" type="button">Add ingredient</button>
    <button class="form_mod_button" id="delete-ingred-form" type="button">Remove last ingredient</button>
    </div>
    <div id="ingred-parser" class="hide">
        <textarea id="ingred-parser-textbox" class="default_text">Enter your ingredients here, separated by line. Follow this format:
            1 cup flour, sifted
            2 tbsp sugar
            1 small onion, chopped
        </textarea>
        <button id="ingred-parser-button" type="button" onclick="hideIngredientParserOnClick()">Parse ingredients</button>
    </div>


    <h2>Recipe</h2>
    {{create_recipe_form.extra_step_count}}
    <table id="step_table" class="form-table">
        {% for step in step_list %}
        <tr>
            <div class="step-form">
                <td class="step-textbox">
                    <textarea name="step_{{ forloop.counter0 }}_description" id="id_step_{{ forloop.counter0 }}_description">{{ step.description }}</textarea>
                    <span id="step_{{ forloop.counter0 }}_description_tooltip" class="form_validate_tooltip">You must specify at least one recipe step</span>
                </td>
                <td class="step_row_buttons"><a style="cursor: pointer;" onmouseover="">
                    <img class="delete_step_button" src="{% static 'img/x-icon.svg' %}" width="20" height="20" title="Delete step"/>
                    <i class="fa-solid fa-ellipsis parse_step_button" title="Parse bulk text into separate steps"></i>
                </a></td>
            </div>
        </tr>
        {% endfor %}
    </table>

    <button class="form_mod_button" id="add-step-form" type="button">Add another step</button>
    <button class="form_mod_button" id="delete-step-form" type="button">Remove last step</button>

    <br><br>
    <button type="button" id="submit_recipe_button" name="submitrecipe">{% if mode == 'add' %}Create {% else %}Update {% endif %}recipe!</button>
</form>


<script src="{% static 'js/add_ingredients_and_steps.js' %}"></script>
<script src="{% static 'js/create_tag.js' %}"></script>
<script src="{% static 'js/ingredient_parse.js' %}"></script>
<script src="{% static 'js/recipe_add_form_validate.js' %}"></script>
{% endblock content %}
