{% extends 'main.html' %}
{% load static %}
{% block content %}

{{ recipe_data|json_script:"searchResultsRaw" }}
{{ tags|json_script:"tagResultsRaw" }}

<button type="button" id="show_groceries_button">Show grocery list</button>
<div id="grocery_list_modal" class="modal">
    <div class="modal-content">
        <span class="close-button">&times;</span>
        <p id="grocery_list_modal_text">{{ grocery_list | linebreaksbr }}</p>
        <div class="modal-buttons">
            <button id="select_grocery_list_text_button">Select Text</button>
            <button id="close_grocery_list_modal_button">Close</button>
        </div>
    </div>
</div>

<div id="cart_contents">
    <table id="search_results_table">
        <thead>
            <th>
                <a>Recipe</a>
                <!-- These two different <i> elements are the before and after click icons. They get swapped in toggleSortIcon(). -->
                <i id="recipe_asc_icon" class="fa fa-caret-down search_sort_icon"></i>
                <i id="recipe_desc_icon" class="fa fa-caret-up search_sort_icon"></i>
            </th>
            <th>
                <a>Duration</a>
                <!-- These two different <i> elements are the before and after click icons. They get swapped in toggleSortIcon(). -->
                <i id="duration_asc_icon" class="fa fa-caret-down search_sort_icon"></i>
                <i id="duration_desc_icon" class="fa fa-caret-up search_sort_icon"></i>
            </th>
            <th>
                <a>Times cooked</a>
                <!-- These two different <i> elements are the before and after click icons. They get swapped in toggleSortIcon(). -->
                <i id="times_cooked_asc_icon" class="fa fa-caret-down search_sort_icon"></i>
                <i id="times_cooked_desc_icon" class="fa fa-caret-up search_sort_icon"></i>
            </th>
            <th>
                <a>Last cooked</a>
                <!-- These two different <i> elements are the before and after click icons. They get swapped in toggleSortIcon(). -->
                <i id="last_cooked_asc_icon" class="fa fa-caret-down search_sort_icon"></i>
                <i id="last_cooked_desc_icon" class="fa fa-caret-up search_sort_icon"></i>
            </th>
            <th>
                <a>Recipe created</a>
                <!-- These two different <i> elements are the before and after click icons. They get swapped in toggleSortIcon(). -->
                <i id="date_created_asc_icon" class="fa fa-caret-down search_sort_icon"></i>
                <i id="date_created_desc_icon" class="fa fa-caret-up search_sort_icon"></i>
            </th>
        </thead>
        <tbody>
            {% for recipe in recipes %}
            <tr>
                <td>
                    <p class="search_result"><a class="left_side_of_page" href="{% url 'recipe_detail' recipe.clean_key %}">{{ recipe }}</a>
                        {% for tag in recipe.associated_tags %}
                            <span 
                                class="tag_display_label small"
                                style="background-color: {{ tag.fill_color }}; color: {{ tag.text_color }}; {% if tag.has_border %}outline: 2px solid {{ tag.border_color }};{% endif %}"
                            >{{ tag.name }}</span>
                        {% endfor %}<br /></p>
                </td>
                <td value="{{ recipe.duration_minutes }}">
                    {{ recipe.duration_minutes }}
                </td>
                <td style="background-color: white !important;">
                    <i class="fa-solid fa-cart-shopping add_to_cart_icon added" data-recipe_key="{{ recipe.clean_key }}"></i>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script src="{% static 'js/show_groceries.js' %}"></script>

{% endblock content %}