{% extends 'main.html' %}
{% load static %}
{% load markdown %}
{% block content %}
    <h1>Tutorials</h1>
    
    <div class="left_side_of_page">
        <p>Take an interactive walkthrough of Food DB features. Click any step below to start the tutorial from that point:</p>
        
        <ul class="tutorial_steps_list">
            {% for step in tutorial_steps %}
            <li>
                <a href="#" class="tutorial_step_link" data-step-id="{{ step.step_id }}">{{ step.order }}. {{ step.title }}</a>
            </li>
            {% endfor %}
        </ul>
        
        {{ help_page_markdown|markdown:""|safe }}
    </div>
    
    <script src="{% static 'js/help.js' %}"></script>
{% endblock content %}

