{% extends 'main.html' %}
{% load static %}
{% load markdown %}
{% block content %}
    <h1>Tutorials</h1>
    
    <div class="left_side_of_page">
        <p>Take an interactive walkthrough of Food DB features. Click any step below to start the tutorial from that point:</p>
        
        <ul class="tutorial_steps_list">
        {% for section, section_info in sections_data.items %}
            <li>
                <a href="#" class="tutorial_step_link" data-step-id="{{ section_info.first_step.step_id }}">
                    <h4 style="margin: 0;">{{ section }}</h4>
                </a>
                {% if section_info.subsections %}
                    <ul style="list-style: none;">
                        {% for subsection, subsection_step in section_info.subsections.items %}
                            <li>
                                <a href="#" class="tutorial_step_link" data-step-id="{{ subsection_step.step_id }}">
                                    {{ subsection }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% endfor %}
        </ul>
        
        {% markdown help_page_markdown as help_html %}
        {{ help_html | safe }}
    </div>
    
    <script src="{% static 'js/help.js' %}"></script>
{% endblock content %}

