{% extends 'main.html' %}
{% load static %}
{% block content %}
    <h1>Welcome, welcome!</h1>
    <p class="left_side_of_page">
        Eventually we can put food recommendations here? Dashboards of food information? Whatever we want 🤷‍♂️
    </p>
    <div class="row">
        {% for chart_id in charts %}
        <div>
            <canvas class="left_side_of_page chart" id="{{ chart_id }}"></canvas>
        </div>
        {% endfor %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.5.0"></script>
    <script src="{% static 'js/charts.js' %}"></script>
{% endblock content %}