<!DOCTYPE html>
{% load static %}
<meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/story.css' %}">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0">
    <script src="{% static 'fontawesomefree/js/fontawesome.js' %}"></script>
    <script src="{% static 'fontawesomefree/js/solid.js' %}"></script>
    <script src="{% static 'fontawesomefree/js/regular.js' %}"></script>
    <title>FoodDB</title>
</head>
<body>
    {% include 'navbar.html' %}
    {% block content %}
    
    {% endblock content %}
    {% if tutorial_state %}
        {{ tutorial_state|json_script:"tutorialStateData" }}
    {% endif %}
    {% if tutorial_current_step %}
        {{ tutorial_current_step|json_script:"tutorialCurrentStepData" }}
    {% endif %}
    <script src="{% static 'js/tooltip.js' %}"></script>
    <script src="{% static 'js/cart.js' %}"></script>
    <script src="{% static 'js/tutorial.js' %}"></script>
</body>
</html>