{% extends 'main.html' %}
{% load static %}
{% block content %}

{{ foods|json_script:"foodDataRaw" }}
{{ categories|json_script:"categoryDataRaw" }}

<h4>
    Here are all the types of foods you've used as ingredients. You can <strong>add, edit, and merge</strong> 
    food items in your database, or <strong>add and edit</strong> the categories of food items, which 
    are used to generate your shopping list.
</h4>

<ul id="tabs">
    <li><a class="manage_food_tab" id="food_tab">View Foods</a></li>
    <li><a class="manage_food_tab" id="category_tab">View Categories</a></li>
</ul>

<div class="tab_container" id="food_tab_content">
    <label>{{ food_search.form.food_name.label }}:</label>
    <input type="text" class="manage_food_search" name="name" id="food_name_search_input">
    <br>
    <label>{{ food_search.form.food_category.label }}:</label>
    <input type="text" class="manage_food_search" name="category" id="food_category_search_input">
    <br>
    <label>{{ food_search.form.no_category.label }}:</label>
    <input type="checkbox" class="manage_food_search" name="no_category" id="no_category_search_input">
    <br><br>
    <label>{{ food_search.form.no_recipe.label }}:</label>
    <input type="checkbox" class="manage_food_search" name="no_recipe" id="no_recipe_search_input">
    <br><br>

    {% with result_count=food_search.qs|length %}
    <h3 id="food_result_count">{% if result_count == 0 %}Ah shit, no matching foods found 😔{% else %}Found {{ result_count }} food{% endif %}{% if result_count > 1 %}s{% endif %}</h3>
    {% endwith %}

    <table id="foods_categories_table" class="manage_food_table">
        <tr>
            <th class="food_name">Food Name</th>
            <th class="food_category">Food Category</th>
        </tr>
        {% for food in foods %}
        <tr class="manage_food_row" data-food="{{ food.name }}" data-category="{{ food.category }}">
            <td>
                <textarea 
                    readonly 
                    oncopy="return false"
                    oncut="return false"
                    onpaste="return false"
                    class="food_input food_name locked"
                >{{ food.name }}</textarea>
            </td>
            <td>
                <span class="food_category_label locked">{{ food.category }}</span>
                <select class="food_input food_category unlocked" style="display: none;">
                    {% for category in all_categories %}
                    <option value="{{ category }}" {% if category == food.category %}selected{% endif %}>{{ category }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        {% endfor %}
    </table>
    <div class="food_stats" id="food_tab_stats">
        <h3 id="food_stats_header">Select a food</h3>
        <span id="food_stats_body"></span>
        <div id="food_stats_buttons">
            <button id="delete_food_button" style="display: none;" class="food_stats_button" type="button" onclick="deleteFood()">Delete food</button>
            <button id="merge_food_button" style="display: none;" class="food_stats_button" type="button">Merge with another</button>
            <button id="cancel_merge_food_button" style="display: none;" class="food_stats_button" type="button" onclick="resetMergeMode(false, '')">Cancel Merge</button>
            <button id="edit_food_button" style="display: none;" class="food_stats_button" type="button">Edit Row</button>
            <button id="cancel_edit_food_button" style="display: none;" class="food_stats_button" type="button" onclick="resetEditMode(true)">Cancel Edit</button>
        </div>
        <h3 id="food_stats_merge_header"></h3>
        <span id="food_stats_merge_body"></span>
    </div>
    <span id="cant_self_merge_food_tooltip" class="form_validate_tooltip tooltip">You can't merge a food with itself, dummy. Pick another.</span>
    <span id="duplicate_food_name_tooltip" class="form_validate_tooltip tooltip">There's already a food named "{this}". Maybe merge this one with that one, or try just being better.</span>
</div>


<div class="tab_container" id="category_tab_content">
    <label>{{ category_search.form.category_name.label }}:</label>
    <input type="text" class="manage_food_search" name="category_name" id="category_name_search_input">
    <br>
    <label>{{ category_search.form.no_food.label }}:</label>
    <input type="checkbox" class="manage_food_search" name="no_food" id="no_food_search_input">
    <br><br>

    {% with result_count=category_search.qs|length %}
    <h3 id="category_result_count">{% if result_count == 0 %}Ah shit, no matching categories found 😔{% else %}Found {{ result_count }} {% endif %}{% if result_count > 1 %}categories{% else %}category{% endif %}</h3>
    {% endwith %}

    <table id="categories_table" class="manage_food_table">
        <tr>
            <th class="food_category">Food Category</th>
        </tr>
        {% for cat in categories %}
        <tr class="manage_food_row" data-category="{{ cat.name }}">
            <td>
                <textarea 
                    readonly 
                    oncopy="return false"
                    oncut="return false"
                    onpaste="return false"
                    class="food_input food_name locked"
                >{{ cat.name }}</textarea>
            </td>
        </tr>
        {% endfor %}
    </table>
    <div class="food_stats" id="category_tab_stats">
        <h3 id="category_stats_header">Select a category</h3>
        <span id="category_stats_body"></span>
        <div id="category_stats_buttons">
            <button id="delete_category_button" style="display: none;" class="food_stats_button" type="button" onclick="deleteCategory()">Delete category</button>
            <button id="merge_category_button" style="display: none;" class="food_stats_button" type="button">Merge with another</button>
            <button id="cancel_merge_category_button" style="display: none;" class="food_stats_button" type="button" onclick="resetMergeMode(false, '')">Cancel Merge</button>
            <button id="edit_category_button" style="display: none;" class="food_stats_button" type="button">Edit Row</button>
            <button id="cancel_edit_category_button" style="display: none;" class="food_stats_button" type="button" onclick="resetEditMode(true)">Cancel Edit</button>
        </div>
        <h3 id="category_stats_merge_header"></h3>
        <span id="category_stats_merge_body"></span>
    </div>
    <span id="cant_self_merge_category_tooltip" class="form_validate_tooltip tooltip">You can't merge a category with itself, dummy. Pick another.</span>
    <span id="duplicate_category_name_tooltip" class="form_validate_tooltip tooltip">There's already a category named "{this}". Maybe merge this one with that one, or try just being better.</span>
</div>

<script src="{% static 'js/tooltip.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery-3.7.1.js' %}"></script> 
<script src="{% static 'js/manage_food.js' %}"></script>
{% endblock content %}