{% extends 'main.html' %}
{% load static %}
{% block content %}
<table>
    <tr>
        <td>
            <h1 id="recipe_title">
                <p>{{ recipe.title }}</p>
            </h1>
        </td>
        <td class="recipe_detail_header_buttons">
            <a href="{% url 'edit_recipe' recipe.clean_key %}"><button class="header_button" id="edit_recipe_button" type="button">Edit recipe</button></a>
        </td>
        <td id="upvote_button_td" class="recipe_detail_header_buttons">    
            <div id="upvote_button_div">
                <!-- These two different <i> elements are the before and after click icons. They get swapped in cookMeal(). -->
                <i id="cooked_recipe_upvote_icon_before" class="fa-regular fa-square-caret-up fa-2x cooked_recipe_upvote_icon"></i>
                <i id="cooked_recipe_upvote_icon_clicked" class="fa-solid fa-square-caret-up fa-2x cooked_recipe_upvote_icon"></i>
            </div>
            <label id="cooked_count_label">Cooked {{ total_cooked_meal_counts }} time{% if total_cooked_meal_counts != 1 %}s{% endif %}</label>
            <h5 id="last_cooked_date_label">{% if last_cooked_date != "" %}Last cooked {{ last_cooked_date}}{% endif %}</h5>
        </td>
    </tr>
</table>
{% if not recipe.recipe_book %}
<h4>Multiplier: <input type="number" id="ingredient_multiplier" value="{{ multiplier }}" min="0" step="0.5"></h4>
{% endif %}
<script src="{% static 'js/cook_meal.js' %}"></script>
<script src="{% static 'js/multiply_ingredients.js' %}"></script>
{% if recipe.url != "" %}
    <h3><a href="{{ recipe.url }}">Original recipe link</a></h3>
    <br><br>
{% endif %}
{% if recipe.recipe_book %}
    <h3>Found in <i>{{ recipe.recipe_book }}</i>, page {{ recipe.recipe_book_page }}</h3>
{% endif %}
{% if recipe.tags.all %}
    <h4>Tags:
    {% for tag in recipe.tags.all %}
        <span class="tag_display_label">{{ tag }}</span>
    {% endfor %}
    </h4>
    <hr>
{% endif %}
<table>
    {% if recipe.duration_minutes %}
    <tr>
        <td class="recipe_summary_label">Prep time:</td>
        <td>{{ recipe.duration_minutes }} minutes</td>
    </tr>
    {% endif %}
    {% if recipe.servings_min %}
    <tr>
        <td class="recipe_summary_label">Servings:</td>
        <td>{{ recipe.servings_min }}{% if recipe.servings_max %} - {{ recipe.servings_max }}{% endif %}</td>
    </tr>
    {% endif %}
    {% if recipe.calories %}
    <tr>
        <td class="recipe_summary_label">Calories per serving:</td>
        <td>{{ recipe.calories_per_serving }}</td>
    </tr>
    {% endif %}
    {% if recipe.notes %}
    <tr>
        <td class="recipe_summary_label">Notes:</td>
        <td>{{ recipe.notes }}</td>
    </tr>
    {% endif %}
</table>
{% if not recipe.recipe_book %}
    <h2>Ingredients</h2>
    <table>
        <thead><tr>
            {% if ingredients_have_categories %}<th class="recipe_detail_ingredient_category">Category</th>{% endif %}
            <th class="recipe_detail_ingredient_food">Ingredient</th>
            <th class="recipe_detail_ingredient_notes">Notes</th>
        </tr></thead>
        <!-- Print the category only on its first ingredient row, so each category is printed only once -->
        {% for category in ingredient_categories %}
        <!-- A little hacky, would love to redo later -->
            {% for cat, ingredient_list in ingredients.items %}
                {% if cat == category %} 
                    {% for ingredient in ingredient_list %}
                        <tr>
                            {% if ingredients_have_categories %}
                                {% if forloop.first %}
                                    <td class="recipe_detail_ingredient_category">{{ ingredient.ingredient_category }}</td>
                                {% else %}
                                    <td></td>
                                {% endif%}
                            {% endif %}
                            <td class="recipe_detail_ingredient_food">
                                {% if ingredient.quantity %}
                                    {{ ingredient.quantity }} {% if ingredient.unit_of_measurement.name != '' %}{{ ingredient.unit_of_measurement }}{% if ingredient.quantity != "1" %}s{% endif %}{% endif %}
                                {% endif %}
                                {{ ingredient.food }}</td>
                            <td class="recipe_detail_ingredient_notes">{{ ingredient.notes }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        {% endfor %}
    </table>

    <h2>Steps</h2>
    <table>
        {% for step in steps %}
            <tr>
                <td class="step_number">{{ step.order_number }}.</td>
                <td class="step_description_text">{{ step.description }}</td>
            </tr>
        {% endfor %}
    </table>
{% endif %}
{% endblock content %}