{% extends 'main.html' %}
{% load markdown %}
{% load static %}
{% block content %}

{{ has_children|json_script:"recipeHasChildrenRaw" }}

<script src="{% static 'js/animations/confetti.js' %}"></script>
<script src="{% static 'js/animations/party.min.js' %}"></script>
<video style="display: none;" id="video_empty">
    <source src="{% static 'video/empty.mp4' %}" type="video/mp4">
</video>
<div id="cooking_mode_container" class="cooking_mode_tooltip tooltip visible">
    <span id="cooking_mode_title" style="font-size: 20px; font-weight: 900;">Enable Cooking Mode</span>
    <br>
    <span id="cooking_mode_subtitle" style="font-size: 15px;"></span>
</div>
<table>
    <tr>
        <td>
            <h1 id="recipe_title">
                <p>{{ recipe.title }}</p>
            </h1>
        </td>
        <td class="recipe_detail_header_buttons">
            <a href="{% url 'edit_recipe' recipe.clean_key %}"><button class="header_button" id="edit_recipe_button" type="button">Edit recipe</button></a>
        </td>
        <td class="recipe_detail_header_buttons" style="padding-left: 3rem;width: 0%;">
            <a href="{{ cloud_url }}/recipe/{{ recipe.title }}" title="Share this recipe" target="_blank">
                <svg id="share_recipe_icon" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-share recipe_action_icon" viewBox="0 0 16 16">
                    <path d="M13.5 1a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.5 2.5 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5m-8.5 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3m11 5.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3"/>
                </svg>
            </a>
            <a href="{% url 'add_recipe' %}?base_recipe_key={{ recipe.clean_key }}" title="Create a variant of this recipe" target="_blank">
                <i id="create_variant_icon" class="fa-regular fa-xl fa-clone recipe_action_icon"></i>
            </a>
            <i id="recipe_detail_add_to_cart_icon" title="Add this recipe to your cart" class="fa-solid fa-xl fa-cart-shopping add_to_cart_icon {% if in_cart == "false" %}not_{% endif %}added" data-recipe_key="{{ recipe.clean_key }}"></i>
        </td>
        <td id="upvote_button_td" class="recipe_detail_header_buttons">    
            <div id="upvote_button_div">
                <!-- These two different <i> elements are the before and after click icons. They get swapped in cookMeal(). -->
                <i id="cooked_recipe_upvote_icon_before" class="fa-regular fa-square-caret-up fa-2x cooked_recipe_upvote_icon"></i>
                <i id="cooked_recipe_upvote_icon_clicked" class="fa-solid fa-square-caret-up fa-2x cooked_recipe_upvote_icon"></i>
            </div>
            <label id="cooked_count_label">Cooked {{ total_cooked_meal_counts }} time{% if total_cooked_meal_counts != 1 %}s{% endif %}</label>
            <h5 id="last_cooked_date_label">{% if last_cooked_date != "" %}Last cooked {{ last_cooked_date}}{% endif %}</h5>
        </td>
    </tr>
</table>
<div id="share_modal" class="modal">
    <div class="modal-content">
        <div class="modal-buttons">
            <button id="internal_link_button">Share this page</button>
            <button id="cloud_link_button">Share the public link</button>
            <button id="close_share_modal_button">Close</button>
        </div>
    </div>
</div>
{% if has_steps or has_children %}
<h4>Multiplier: <input type="number" id="ingredient_multiplier" value="{{ multiplier }}" min="0" step="0.5"></h4>
{% endif %}
<script src="{% static 'js/cook_meal.js' %}"></script>
<script src="{% static 'js/multiply_ingredients.js' %}"></script>
{% if recipe.url != "" %}
    <div style="display: flex;vertical-align: top;">
        <h3><a href="{{ recipe.url }}" target=”_blank”>Original recipe link</a></h3>
        <span>&#160;&#160;&#160;</span>
        <a href="{{ recipe.url }}" target=”_blank”>
            <i class="fa-solid fa-arrow-up-right-from-square fa-xs" data-fa-transform="down-4"></i>
        </a>
    </div>
    <br><br>
{% endif %}
{% if recipe.recipe_book %}
    <h3>Found in <i>{{ recipe.recipe_book }}</i>, page {{ recipe.recipe_book_page }}</h3>
{% endif %}
{% if recipe.tags.all %}
    <h4>Tags:
    {% for tag in recipe.tags.all %}
        <a href="{% url 'search' %}?tag={{ tag.name }}" style="text-decoration: none;">
            <span 
                class="tag_display_label"
                style="background-color: {{ tag.fill_color }}; color: {{ tag.text_color }}; {% if tag.has_border %}outline: 2px solid {{ tag.border_color }};{% endif %}"
            >{{ tag.name }}</span>
        </a>
    {% endfor %}
    </h4>
    <hr>
{% endif %}
<table>
    {% if recipe.duration_minutes %}
    <tr>
        <td class="recipe_summary_label">Total time:</td>
        <td>{{ recipe.duration_minutes }}</td>
    </tr>
    {% endif %}
    {% if recipe.servings_min %}
    <tr>
        <td class="recipe_summary_label">Servings:</td>
        <td>{{ recipe.servings_min }}{% if recipe.servings_max %} - {{ recipe.servings_max }}{% endif %}</td>
    </tr>
    {% endif %}
    {% if calorie_string != "" %}
    <tr>
        <td class="recipe_summary_label">Calories:</td>
        <td>{{ calorie_string }}</td>
    </tr>
    {% endif %}
    {% if recipe.notes %}
    <tr>
        <td class="recipe_summary_label">Notes:</td>
        <td>{{ recipe.notes }}</td>
    </tr>
    {% endif %}
    {% if recipe.oven_temp %}
    <tr>
        <td class="recipe_summary_label">Oven temperature:</td>
        <td>{{ recipe.oven_temp }}</td>
    </tr>
    {% endif %}
    {% if recipe.is_cookie_recipe and recipe.cookie_style %}
    <tr>
        <td class="recipe_summary_label">Cookie style:</td>
        <td>
            {% for style_value, style_label in cookie_style_choices %}
                {% if recipe.cookie_style == style_value %}
                    {{ style_label }}
                {% endif %}
            {% endfor %}
        </td>
    </tr>
    {% endif %}
    {% if recipe.is_cookie_recipe and recipe.cookie_color %}
    <tr>
        <td class="recipe_summary_label">Cookie color:</td>
        <td>{{ recipe.cookie_color }}</td>
    </tr>
    {% endif %}
    {% if recipe.has_times %}
        {% for time in recipe.associated_times %}
            <tr>
                <td class="recipe_summary_label">
                    <!-- Show the type label, the user-facing value, nicely capitalized -->
                    {% for type_value, type_label in timing_types %}
                        {% if time.type == type_value %}
                            {{ type_label }} time:
                        {% endif %}
                    {% endfor %}
                </td>
                <td>{{ time.minutes }} minutes</td>
            </tr>
        {% endfor %}
    {% endif %}
    {% if images %}
    <tr>
        <td class="recipe_summary_label">Pix:</td>
        <td>
        {% for img in images %}
            <a href="{{ img.url }}" target="_blank">
                <img src="{{ img.url }}" class="recipe_image" />
            </a>
        {% endfor %}
        </td>   
    </tr>
    {% endif %}
</table>
{% if recipe.has_variants %}
    <h2>Variants</h2>
    <h4>These are the different versions of this recipe. Each variant contains all the ingredients and steps of this base recipe, plus its own unique ingredients and steps.</h4>
    <ul style="padding-left: 40px; padding-bottom: 30px;">{% for variant in recipe.variant_recipes %}
        <p><a class="search_result" href="{% url 'recipe_detail' variant.clean_key %}" target="_blank">{{ variant.title }}</a></p>
    {% endfor %}</ul>
{% endif %}
{% if has_ingredients or has_steps or has_children %}
    <div id="ingredients_header">
        <h2>Ingredients</h2>
        <button type="button" id="show_groceries_button">Show grocery list</button>
    </div>
    {% for title, recipe_ingred_data in recipe_ingreds_and_steps.items %}
        {% if recipe_ingred_data.ingred_data.has_ingredients %}
            {% if has_children %}<details class="child_recipe_details" open><summary class="child_recipe_summary_title">Ingredients for {{ title }}</summary>{% endif %}
            <table class="recipe_detail_ingredients_table" id="{{ recipe_ingred_data.clean_key }}_ingredients_table">
                <thead><tr>
                    {% if recipe_ingred_data.ingredients_have_categories %}<th class="recipe_detail_ingredient_category">Category</th>{% endif %}
                    <th class="recipe_detail_ingredient_food">Ingredient</th>
                    <th class="recipe_detail_ingredient_notes">Notes</th>
                </tr></thead>
                {% for category, ingredient_list in recipe_ingred_data.ingreds_by_category.items %}
                    <tbody class="ingredient_category_tbody">
                        {% if recipe_ingred_data.ingredients_have_categories %}
                            <tr draggable="true" 
                                ondrop="handleDragIngredCategoryDrop(event)" 
                                ondragover="handleDragIngredCategoryOver(event)" 
                                ondragstart="handleDragIngredCategoryStart(event)"
                                class="ingredient_category_row"
                                data-ingredient_category="{{ category }}" 
                                data-clean_key="{{ recipe_ingred_data.clean_key }}"
                            >
                                <td 
                                    rowspan="{{ ingredient_list | length }}" 
                                    class="recipe_detail_ingredient_category_td"
                                    data-ingredient_category="{{ category }}"
                                    style="background-color:  {% spaceless %}
                                        {% if forloop.counter|divisibleby:'2' %}
                                            transparent
                                        {% else %}
                                            var(--table-row-color)
                                        {% endif %}
                                        {% endspaceless %};"
                                >
                                    <i class="fa-solid fa-grip-vertical grip-icon"></i>
                                    <span>&#160;&#160;&#160;{% if category != '' %}{{ category }}{% else %}Misc{% endif %}</span>
                                </td>
                        {% endif %}
                        {% for ingredient in ingredient_list %}
                            <!-- This syntax should work as 
                                if (ingredients_have_categories and not forloop.first)
                                or (not ingredients_have_categories)
                            -->
                            {% if recipe_ingred_data.ingredients_have_categories and not forloop.first or not recipe_ingred_data.ingredients_have_categories %} 
                                <tr data-ingredient_category="{{ category }}">
                            {% endif %}
                                <td class="recipe_detail_ingredient_food">
                                    <input type="checkbox" class="cooking-checkbox ingredient-checkbox" id="{{ ingredient.id }}" data-ingredient="{{ ingredient.quantity }} {{ ingredient.food }}">
                                    {{ ingredient.quantity }} {{ ingredient.food }}
                                </td>
                                <td class="recipe_detail_ingredient_notes"
                                    data-food_category="{{ ingredient.food_category }}"
                                    data-quantity="{{ ingredient.quantity }}" 
                                    data-food="{{ ingredient.food }}"
                                >
                                    {{ ingredient.notes }}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                {% endfor %}
            </table>{% if has_children %}</details>{% endif %}
        {% endif %}
    {% endfor %}

    {% if has_steps or has_children %}<h2>Steps</h2>
        {% for title, recipe_step_data in recipe_ingreds_and_steps.items %}
            {% if recipe_step_data.has_steps %}
                {% if has_children %}<details class="child_recipe_details" open><summary class="child_recipe_summary_title">Steps for {{ title }}</summary>{% endif %}
                    <table class="steps_table">
                    {% for step in recipe_step_data.steps %}
                        <tr>
                            <td class="step_number">
                                <p class="step_number_text">{{ step.order_number }}.</p>
                                <input type="checkbox" class="cooking-checkbox step-checkbox" data-step-id="{{ step.order_number }}">
                            </td>
                            <td class="step_description_text">
                                {{ step.description | markdown:recipe.title | safe }}
                            </td>
                        </tr>
                    {% endfor %}
                    </table>{% if has_children %}</details>{% endif %}
            {% endif %}
        {% endfor %}
    {% endif %}
    <div id="grocery_list_modal" class="modal">
        <div class="modal-content">
            <span class="close-button">&times;</span>
            <p id="grocery_list_modal_text">{{ grocery_list | linebreaksbr }}</p>
            <div class="modal-buttons">
                <button id="select_grocery_list_text_button">Select Text</button>
                <button id="close_grocery_list_modal_button">Close</button>
            </div>
        </div>
    </div>
{% endif %}
<script src="{% static 'js/swap_cooking_baking.js' %}"></script>
<script>
    document.getElementById('baking_switch_label').style.display = 'none'; // Sorry this is sloppy, but I'm undoing what happens at the start of swap_cooking_baking.js. Don't judge me.
    swapCookingOrBakingColors({{ is_baking_recipe|lower }});
</script>
<script src="{% static 'js/drag_ingredient_categories.js' %}"></script>
<script src="{% static 'js/tooltip.js' %}"></script>
<script src="{% static 'js/cooking_mode.js' %}"></script>
<script src="{% static 'js/show_groceries.js' %}"></script>
{% endblock content %}