{% extends 'main.html' %}
{% load static %}
{% block content %}

<form class="left_side_of_page" id="search_form" method="get">
    <div>
        <label>{{ text_search.form.title.label }}:</label>
        {{ text_search.form.title }}
        <br>
        <label>{{ text_search.form.ingredient.label }}:</label>
        {{ text_search.form.ingredient }}
        <br>
        <label>{{ text_search.form.tag.label }}:</label>
        {{ text_search.form.tag }}
    
    <!-- <input id="search_button" type="submit" /> -->
    </div>
</form>
<div id="search_results">
    {% with result_count=text_search.qs|length %}
    <h2>{% if result_count == 0 %}Ah shit, no matching recipes found 😔{% else %}Found {{ result_count }} recipe{% endif %}{% if result_count > 1 %}s{% endif %}</h2>
    {% endwith %}
    {% for recipe, tags in tags_by_recipe.items %}
        <p class="search_result"><a class="left_side_of_page" href="/recipe/{{recipe}}">{{ recipe }}</a>{% for tag in tags %}<span class="tag_display_label small">{{ tag }}</span>{% endfor %}<br /></p>
    {% endfor %}
</div>
<script src="{% static 'js/search.js' %}"></script>

{% endblock content %}