{% extends 'main.html' %}
{% load static %}
{% block content %}

{{ recipe_data|json_script:"searchResultsRaw" }}

<form class="left_side_of_page" id="search_form" method="get">
    <div>
        <label>{{ text_search.form.title.label }}:</label>
        {{ text_search.form.title }}
        <br>
        <label>{{ text_search.form.ingredient.label }}:</label>
        {{ text_search.form.ingredient }}
        <br>
        <label>{{ text_search.form.duration_lt.label }}:</label>
        <span id="duration_span" style="display: flex;">
            <input type="number" name="duration_lt_hours" step="1" id="id_duration_lt_hours" style="width: 70px;">
            <label class="duration_search_label">&#160;hours&#160;&#160;&#160;</label class="duration_search_label">
            <input type="number" name="duration_lt_minutes" step="15" id="id_duration_lt_minutes" style="width: 70px;">
            <label class="duration_search_label">&#160;minutes</label class="duration_search_label">
            <img class="clear_duration_search_button" src="{% static 'img/x-icon.svg' %}" width="25" height="25" title="Clear duration filters"/>
        </span>
        <br>
        <table>
            <tr style="background-color: #ffffff;">
                <td>
                    <label>{{ text_search.form.tag.label }}:</label>
                    <label class="tags_row"><ul>
                        {% for tag in tags %}
                            <div class="ui checkbox tag_check" data-is_baking_tag="{{ tag.is_baking_tag }}" data-is_cooking_tag="{{ tag.is_cooking_tag }}">
                                <input id="id_tag_{{ forloop.counter0 }}" name="tag" type="checkbox" value="{{ tag.name }}" {% if tag.checked %}checked{% endif %}>
                                {{ tag.name }}
                            </div>
                        {% endfor %}
                    </ul></label>
                </td>
                <td>
                    <label>{{ text_search.form.tag_exclusion.label }}:</label>
                    <label class="tags_row"><ul>
                        {% for tag in tags %}
                            <div class="ui checkbox tag_check" data-is_baking_tag="{{ tag.is_baking_tag }}" data-is_cooking_tag="{{ tag.is_cooking_tag }}">
                                <input id="id_excluded_tag_{{ forloop.counter0 }}" name="excluded_tag" type="checkbox" value="{{ tag.name }}">
                                {{ tag.name }}
                            </div>
                        {% endfor %}
                    </ul></label>
                </td>
            </tr>
        </table>
        
    <!-- <input id="search_button" type="submit" /> -->
    </div>
</form>
<div id="search_results">
    {% with result_count=text_search.qs|length %}
    <h2>{% if result_count == 0 %}Ah shit, no matching recipes found 😔{% else %}Found {{ result_count }} {% if is_baking_recipe == 'true' %}baking{% else %}cooking{% endif %} recipe{% endif %}{% if result_count > 1 %}s{% endif %}</h2>
    {% endwith %}
    <table id="search_results_table">
        <thead>
            <th>
                <a>Recipe</a>
                <!-- These two different <i> elements are the before and after click icons. They get swapped in toggleSortIcon(). -->
                <i id="recipe_asc_icon" class="fa fa-caret-down search_sort_icon"></i>
                <i id="recipe_desc_icon" class="fa fa-caret-up search_sort_icon"></i>
            </th>
            <th>
                <a>Duration</a>
                <!-- These two different <i> elements are the before and after click icons. They get swapped in toggleSortIcon(). -->
                <i id="duration_asc_icon" class="fa fa-caret-down search_sort_icon"></i>
                <i id="duration_desc_icon" class="fa fa-caret-up search_sort_icon"></i>
            </th>
            <th>
                <a>Times cooked</a>
                <!-- These two different <i> elements are the before and after click icons. They get swapped in toggleSortIcon(). -->
                <i id="times_cooked_asc_icon" class="fa fa-caret-down search_sort_icon"></i>
                <i id="times_cooked_desc_icon" class="fa fa-caret-up search_sort_icon"></i>
            </th>
            <th>
                <a>Last cooked</a>
                <!-- These two different <i> elements are the before and after click icons. They get swapped in toggleSortIcon(). -->
                <i id="last_cooked_asc_icon" class="fa fa-caret-down search_sort_icon"></i>
                <i id="last_cooked_desc_icon" class="fa fa-caret-up search_sort_icon"></i>
            </th>
            <th>
                <a>Recipe created</a>
                <!-- These two different <i> elements are the before and after click icons. They get swapped in toggleSortIcon(). -->
                <i id="date_created_asc_icon" class="fa fa-caret-down search_sort_icon"></i>
                <i id="date_created_desc_icon" class="fa fa-caret-up search_sort_icon"></i>
            </th>
        </thead>
        <tbody>
            {% for recipe, data in recipe_data.items %}
            <tr>
                <td>
                    <p class="search_result"><a class="left_side_of_page" href="{% url 'recipe_detail' data.clean_key %}">{{ recipe }}</a>
                        {% for tag in data.tags %}
                            <span 
                                class="tag_display_label small"
                                style="background-color: {{ tag.fill_color }}; color: {{ tag.text_color }}; {% if tag.has_border %}outline: 2px solid {{ tag.border_color }};{% endif %}"
                            >{{ tag.name }}</span>
                        {% endfor %}<br /></p>
                </td>
                <td value="{{ data.duration_minutes }}">
                    {{ data.duration_string }}
                </td>
                <td>
                    {{ data.times_cooked }}
                </td>
                <td>
                    {{ data.last_cooked }}
                </td>
                <td>
                    {{ data.date_created }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script src="{% static 'js/swap_cooking_baking.js' %}"></script>
<script src="{% static 'js/search_filter.js' %}"></script>
<script src="{% static 'js/search_sort.js' %}"></script>

{% endblock content %}